In [50]:
import numpy as np
import pandas as pd
import re

In [21]:
df = pd.read_csv('data/fixed_data.csv')

In [22]:
df.columns

Index(['company_code', 'order_number', 'employee', 'product',
       'product_category', 'client', 'city', 'sale_date_time', 'product_cost',
       'discount_amount', 'amount', 'total', 'form_of_payment', 'date',
       'basket_id'],
      dtype='object')

In [23]:
cols_to_delete = 'employee client city sale_date_time product_cost discount_amount company_code order_number amount total form_of_payment date'.split(' ')
df.drop(cols_to_delete, axis=1, inplace=True)
df.columns

Index(['product', 'product_category', 'basket_id'], dtype='object')

In [24]:
df.head()

             product product_category          basket_id
0   Special Gasoline             Fuel  12no city20170331
1     Special Diesel             Fuel  21no city20170331
2     Special Diesel             Fuel  38no city20170331
3          Lubricant        Lubricant  39no city20170331
4  Diesel Auto Clean             Fuel  39no city20170331

In [27]:
df2 = df[['product', 'basket_id']]

In [40]:
df.to_csv('data/product_and_category.csv', index=False)

In [41]:
df2.to_csv('data/products.csv', index=False)

In [42]:
x = pd.read_csv('data/product_and_category.csv')

In [43]:
y = pd.read_csv('data/products.csv')

In [44]:
x.head()

             product product_category          basket_id
0   Special Gasoline             Fuel  12no city20170331
1     Special Diesel             Fuel  21no city20170331
2     Special Diesel             Fuel  38no city20170331
3          Lubricant        Lubricant  39no city20170331
4  Diesel Auto Clean             Fuel  39no city20170331

In [45]:
y.head()

             product          basket_id
0   Special Gasoline  12no city20170331
1     Special Diesel  21no city20170331
2     Special Diesel  38no city20170331
3          Lubricant  39no city20170331
4  Diesel Auto Clean  39no city20170331

In [51]:
x.basket_id = x.basket_id.apply(lambda x: re.sub(' ', '', x))

In [52]:
x.head()

             product product_category         basket_id
0   Special Gasoline             Fuel  12nocity20170331
1     Special Diesel             Fuel  21nocity20170331
2     Special Diesel             Fuel  38nocity20170331
3          Lubricant        Lubricant  39nocity20170331
4  Diesel Auto Clean             Fuel  39nocity20170331

In [54]:
x.to_csv('data/product_and_category.csv')

In [55]:
y.basket_id = y.basket_id.apply(lambda x: re.sub(' ', '', x))
y.to_csv('data/products.csv')

In [56]:
y.head()

             product         basket_id
0   Special Gasoline  12nocity20170331
1     Special Diesel  21nocity20170331
2     Special Diesel  38nocity20170331
3          Lubricant  39nocity20170331
4  Diesel Auto Clean  39nocity20170331